.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#info {
  font-size: 40px;
  text-align: center;
  color: rgb(0, 0, 0)
  

}

#maint {
  font: small-caps 100%/200% serif;
  font-size: 60px;
  text-align: center;
  color: rgb(0, 0, 0);
  background: #ebb5b5;

}

header {
  background: #ebb5b5;
}

#cart {
  background: rgb(216, 207, 211);
  color: #FFF;
  font-size: 20px;
  text-align: center;


}

#cart2 {
  background:rgb(216, 207, 211);
  color: #FFF;
  font-size: 20px;
  text-align: center;
}

#main {
  background-image: url("https://media.diy.com/is/image/Kingfisher/harry-potter-beige-mischief-smooth-wallpaper~5011583413137_36c_bq?$MOB_PREV$&$width=768&$height=768");
  text-align: center;
  font: small-caps 100%/200% serif;
  color:rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
}


#infoelixirs {
  background: rgb(216, 207, 211);
  color: #FFF;
  font-size: 20px;
  text-align: center;
}
#houses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  
}
@media (max-width: 600px) {
  #houses {
    grid-template-columns: 1fr;
  }
}

#housesdiv {
  background-size: cover;
  padding: 20px;
  color: white;
}
footer{
  background: #ebb5b5;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  font: small-caps 100%/200% serif;
}