.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  #maint{
    font:400;
    text-align: center;
    color:blue
  }
  header{
    background:#ff0000;
  }
  #cart{
    background:rgb(11, 11, 235);
    color:#FFF;
    font:100
    
  }
  #cart2{
    background:rgb(93, 235, 11);
    color:#FFF;
    font:100
  }
  #main{
    background-image: url("https://media.diy.com/is/image/Kingfisher/harry-potter-beige-mischief-smooth-wallpaper~5011583413137_36c_bq?$MOB_PREV$&$width=768&$height=768");
  }
  #elixirst{
    font:200;
    text-align: center;
    color:rgb(255, 238, 0)
  }
  #infoelixirs{
    background:rgb(245, 3, 108);
    font:100
  }
  #housest {
    background-size: cover;
    padding: 20px;
    color: rgb(251, 255, 9);
    text-align: center;
  }
  #wizardst {
    background-size: cover;
    padding: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  #houses{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  
  #housesdiv {
    background-size: cover;
    padding: 20px;
    color: white;
  }
  
  @media (max-width: 600px) {
    #houses {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
  }